/* #homepageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
} */
/* #backgroundDesignUnder {
    width: 160%;
    position: absolute;
    filter: opacity(50%);
    top: 50%;

}
#backgroundDesignOver {
    width: 160%;
    filter: opacity(50%);

    position: absolute;
    top: 50%;
} */
p {
    margin: 0;
}

#homepageBackground {
    width: 92%;
    max-width: 960px;
    position: absolute;
    top: 1%;
    left: auto;
    right: auto
}
#brokenKeyBack {
    
    width: 100%;
    z-index: -100;

}
#selfDescription {
    display: flex;
    justify-content: flex-start;
    /* height: 20vw; */
    margin-bottom: 1em;
    font-size: 8vw;
    font-weight: 100;
}

/* h2 {
    color: whitesmoke;
} */
/* #logoSection {
    display: flex;
    background-color: black;
    justify-content: center;
    width: 80%;

    margin-bottom: 1em;

} */

/* #carselloLogo {
    width: 80%;
} */

#offeredServices {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    z-index: 1;
    margin-top: 2em;
}

/* these two for sections to left */
.rotateRightLabel {
    writing-mode: vertical-rl;
    margin: 0 .6em;
    /* font-size: 9vw; */
    font-size: min(max(16px, 9vw), 90px);


    font-weight: 600;
    line-height: 0%;
    transition: transform .2s;

}
.serviceSectionLeft {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 2em;
}
.servicesImage:hover + .rotateRightLabel {
    transform: translateX(10px);
    color: aqua;
}


/* these two for sections to right */
.rotateLeftLabel {
    writing-mode: vertical-rl;
    margin: 0 .6em 0 .4em;
    /* font-size: 4em; */
    font-size: 9vw;
    font-weight: 600;
    line-height: 0%;
    transform: rotate(180deg);
    transition: transform .2s;
}

.serviceSectionRight {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    /* height: fit-content; */
    width: 100%;
    margin-bottom: 2em;

}
.servicesImage:hover + .rotateLeftLabel {
    transform: translateX(-10px) rotate(180deg);
    color: rgb(166, 83, 208);
}


.servicesImage {
    /* width: 20em; */
    max-height: 22em;
    object-fit: cover;
    display: flex;
    width: 60%;
    cursor: pointer;
    transition: transform .2s;
    border-radius: 10px;
}
.servicesImage:hover {
    /* filter: saturate(0%); */
    transform: scale(1.05);
    
}


@media screen and (min-width:641px) {
    #homepageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: whitesmoke;
        background-image: url("../Images/fullOpaque.png");
        background-size: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
    }
    #fullBackground {
        width: 160%;
        position: absolute;
        filter: opacity(50%);
        top: 50%;
    }
    /* #backgroundDesignUnder {
        width: 160%;
        position: absolute;
        filter: opacity(50%);
        top: 50%;
    
    }
    #backgroundDesignOver {
        width: 160%;
        filter: opacity(50%);
    
        position: absolute;
        top: 50%;
    } */
    /* #sparklesContainer {
        width: 50%;
        display: flex;
        justify-content: space-around;
        margin: 2em 0;
        filter: opacity(70%);
    }
    .sparkle {
        width: 20%;
    } */
    
}

@media screen and (min-width:320px) and (max-width: 640px) {
    #homepageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: whitesmoke;
        background-image: url("../Images/mobileOpaque.png");
        background-size: 120%;
        background-position: 50%;
        background-repeat: no-repeat;
    }
    /* #backgroundContainer {
        position: absolute;
        top: 25%;
        width: 100%;
    }
    #fullBackground {
        width: 100%;
        filter: opacity(50%);
    }
    #mobileBackground {
        width: 60%;
        position: relative;
        left: 50%;
        filter: opacity(50%);
    } */
    /* #sparklesContainer {
        width: 50%;
        display: flex;
        justify-content: space-around;
        margin: 2em 0;
        filter: opacity(70%);
    }
    .sparkle {
        width: 20%;
    } */
}