@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#imageViewContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* height: 70%; */
    z-index: 100;
    animation: fadeIn .1s;
    backdrop-filter: blur(10px);
    background-color: rgb(55,55,55,.5);
    transition: ease-in-out .2s;
}

#imageViewDisplayDiv {
    position: fixed;
    top: 20%;
    width: 90%;
    max-height: 100vh;
}

.exitImageBtnBlock {
    display: flex;
    justify-content: flex-end;
    width: 100%;

}

.exitImageViewBtn {
    width: 4em;
    font-size: large;
    background-color: black;
    border: 1px solid violet;
    border-radius: 4px;
    color: violet;
    cursor: pointer;
}

.imageToView {
    object-fit: contain;
    display: flex;
    height: auto;
    width: auto;
    max-height: 100vh;
    max-width: 100%;
    margin-top: 1em;
}

@media screen and (min-width:641px) {
    #imageViewContainer {
        width: 100vw;
        height: 100vh;
    }

    #imageViewDisplayDiv {
        top: 10%;
    }
}


@media screen and (min-width:320px) and (max-width: 640px) {
    

}