/* #eventsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.eventsHeader {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
#eventsListContainer{
    /* width: 100%; */
    display: flex;

    flex-direction: column;
    align-items: center;
}
#eventsList {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.eventListItemHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 16em; */
    width: 100%;
}
.eventsListItem {
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}
.eventLogistics {
    margin-top: 1em;
}
.eventLink {
    margin-top: 1em;
}

.eventDescription {
    margin-top: 1em;
    width: 100%;
}
.eventInfo {
    width: 100%;
}
.eventImage {
    border-radius: 4px;
}

@media screen and (min-width: 641px) {
    .eventImage {
        width: 10em;
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    #eventsList {
        max-width: 90%;
    }
    .eventsListItem {
        margin: 0 0 1em 0;
    }
    .eventImage {
        display: none;
        /* width: 6em; */
    }
}