#adminContainer {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adminBtnBlock {
    width: 75%;
    /* height: 10em; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.adminBtnColumn {
    height: fit-content;
    justify-content: flex-start;
    border: 1px solid rgb(137, 74, 137);
    border-radius: 6px;
    padding: .25em;
}
.adminBtnRow {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.adminButton {
    width: 7em;
    height: 3em;
    font-size: large;
    background-color: black;
    border: 1px solid aqua;
    border-radius: 4px;
    color: aqua;
    cursor: pointer;
    margin-bottom: 1em;
}
.imageAddAndInfoDiv {
    width: inherit;
    
}


.artImage {
    width: 100%;
    object-fit: contain;
}

.artFrame {
    display: block;
    max-width: 20em;
    /* max-height: 10em; */
    /* width: auto; */
    /* height: auto; */
}

.adminImageContainer {
    width: 20%;
}

.adminImage {
    height: auto;
    width: auto;
    max-width: 10em;
    max-height: 10em;
}

.adminList {
    list-style: none;
}

.adminBtnReject {
    width: 7em;
    height: 3em;
    font-size: large;
    background-color: black;
    border: 1px solid violet;
    border-radius: 4px;
    color: violet;
    cursor: pointer;
}


/* event form */
#addEventModal {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    height: 50%;
    background-color: gray;
    z-index: 10;
}
#newEventForm {
    display: flex;
    flex-direction: column;
}

/* art form */
#editArtModal {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    /* height: 50%; */
    background-color: gray;
    z-index: 10;
    /* border: 1px solid orange; */
}

#newArtForm {
    display: flex;
    width: 20em;
    flex-direction: column;
}

.addImageDiv {
    display: flex;
    justify-content: space-between;
    /* width: 26em; */
}

.uploadDisplayImage {
    max-width: 3em;
}

.artFormBtnBlock {
    height: 2em;
    display: flex;
    justify-content: space-between;
}

/* sort art modal */
#sortArtModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 10%;
    background-color: gray;
    width: 30em;
    height: 40em;
    padding: 1em;
    z-index: 11;
}
.sortList {
    height: 38em;
    width: 90%;
    overflow: scroll;
}
.sortListItemHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sortListItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.positionInfo {
    margin-right: 1em
}

/* order list */
#orderListContainer {
    height: 30em;
    /* width: 28em; */
    overflow: scroll;
    border: 1px solid violet;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
.orderListItem {
    /* height: 10em; */
    display: flex;
    border: 1px solid aqua;
    padding: .5em;
    border-radius: 4px;
    margin-bottom: 1em;
}
.orderListInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 2em;
    width: 10em;
}