.artImage {
    width: 100%;
    object-fit: contain;
}

.artFrame {
    display: block;
    max-width: 20em;
    /* max-height: 10em; */
    /* width: auto; */
    /* height: auto; */
}


/* art form */
#newArtForm {
    display: flex;
    flex-direction: column;
}