#previousDesignSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 960px;
    margin-top: 2em;
}

.designDisplayImage {
    height: 250px;
    border-radius: 4px;
    margin: 1em;
    object-fit: cover;
    max-width: 100%;
}