html {
  /* background-color: rgb(93, 93, 93); */
  background-color: black;
  /* background-color: rgb(186, 166, 106); */
  /* background-image: url("./Images/brokenKey.jpg");
  background-size: 100vw; */
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.customFontHead {
  font-size: xx-large;
  font-weight: 200;

}

/* service sections */
.serviceContainer {
  display: flex;
  /* justify-content: center; */
  width: 100vw;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 6em; */
}



.aquaHighlight {
  color: aqua;
  text-decoration: none;
}

.violetHighlight {
  color: violet;
}



.serviceInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 960px;
  margin-top: 2em;

}

.servicePageImage {
  height: 250px;
  /* width: 45%; */
  margin: 1em;
}

.descriptionLine {
  margin-top: 1em;
}

.descriptionBlock {
  min-width: 45%;
  height: auto;
  flex: 2;
}

.opaqueCard {
  background-color: rgb(55, 55, 55);
  padding: 1em;
  border: none;
  border-radius: 10px;
}
.opaqueCard li {
  margin-bottom: .5em;
}

@media screen and (min-width: 641px) {
  .xxLargeFont {
    font-size: 46px;
    font-weight: 100;
  }

  .mediumFont {
    font-size: 26px;
    font-weight: 200;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .xxLargeFont {
    font-size: 30px;
    font-weight: 200;
  }

  .mediumFont {
    font-size: 22px;
    font-weight: 200;
    color: white;
  }
  .smallFont {
    font-size: 16px;
    font-weight: 200;
    color: white;
  }
}