#navMenu {
    display: flex;
    justify-content: center;
    background-color: rgb(93, 93, 93);
    color: whitesmoke;

}

/* old navigation version */
/* #navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 11;
    top: 0;
    width: 80%;
    height: 70px;
    background-color: gray;
} */
#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    z-index: 11;
    /* top: 0; */
    width: 90%;
    max-width: 960px;
    margin-top: 1em;
    max-height: 250px;
    /* height: 70px; */
    /* background-color: gray; */
    /* background-color: rgb(24, 14, 14); */
    /* background-color: rgb(9, 7, 7); */

}

#navigationMini {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    width: 90%;
    max-width: 960px;
    margin-top: 1em;
}

#logoSection {
    display: flex;
    background-color: black;
    justify-content: center;
    width: 80%;
    margin-bottom: 1em;
    overflow: hidden;

}

#nameLogoText {
    font-size: 6vw;
    font-weight: 200;
    margin-left: .25em;
    background-color: black;
    cursor: pointer;
    padding: .25rem;
}

#nameLogoText:hover {
    color: violet;
}

#carselloLogo {
    width: 65%;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
    ;
}

#carselloLogoMini {
    width: 40%;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
    ;
}

#carselloNavigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin-right: 0;
    padding: 0 0 0 .5em;
    /* position: fixed; */
    /* top: 20px; */
    /* right: 10%;
    width: 50%; */
    height: 100%;
    max-height: 250px;
    margin: 0 .25em 0 0;
    list-style: none;
    background-color: black;
}

.navLink {
    /* font-size: 5vw; */
    font-size: min(max(30px, 4vw), 5vw);
    font-weight: 200;
    text-decoration: none;
    /* color: black; */
    color: whitesmoke;
    margin-right: .25em;
}

.navLink:hover {
    color: aqua
}