#pieceInspectionContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    /* width: 90%; */
    height: 80vh;
}
#pieceDisplay {
    display: flex;
    flex-direction: column;
}
#pieceInspectionImageContainer {
    display: flex;
    justify-content: center;
    height: 20em;
}
.pieceInspectionPiece {
    height: 100%;
}
.purchaseBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 60%;
    width: 200px;
    /* margin-left: 1em; */
}
.purchaseToggle {
    width: 6em;
}