/* #curationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .curationInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 1em;
} */
/* .curationImage {
    height: 200px;
} */
/* .descriptionLine {
    margin: 1em 0;
} */
/* .serviceDescription {
    margin: 0 0 0 .25em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: center;
    width: 26em;

} */



