/* #curationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .curationInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 1em;
} */
/* .curationImage {
    height: 200px;
} */
/* .descriptionLine {
    margin: 1em 0;
} */
/* .serviceDescription {
    margin: 0 0 0 .25em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: center;
    width: 26em;

} */
#primaryCurationImageContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.curationImageAndCredit {
    margin: 1em;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.curationDisplayImage {
    height: 250px;
}

#previousCurationSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 960px;
    margin-top: 2em;
}

@media screen and (min-width: 641px) {
    #primaryCurationImageContainer {
        margin: 1em;
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    #primaryCurationImageContainer {
        margin-top: 2em;
    }
}